CHAIN_ID=mainnet
PORT=3010
# Public hostname for documentation (defaults to http://127.0.0.1:PORT)
# WEB_HOSTNAME=https://kv.main.fastnear.com
SCYLLA_URL=localhost:9042
# Optional TLS (set all three to enable)
# SCYLLA_SSL_CA=res/certs/fastdata-ca-cert.pem
# SCYLLA_SSL_CERT=res/certs/fastdata-client.crt
# SCYLLA_SSL_KEY=res/certs/fastdata-client.key
# Optional auth (set both to enable)
# SCYLLA_USERNAME=fastdata_reader
# SCYLLA_PASSWORD=secret
